[submodule "examples/heudiconv/examples/heudiconv/sourcedata/hirni-demo"]
	path = examples/heudiconv/examples/heudiconv/sourcedata/hirni-demo
	url = https://github.com/psychoinformatics-de/hirni-demo.git
